
// Standard extensions get all permissions by default

grant codeBase "file:${java.home}/lib/ext/-" {
	permission java.security.AllPermission;
};

grant codeBase "file:${java.home}/../lib/tools.jar" {
        permission java.security.AllPermission;
};

grant codeBase "file:${com.sun.enterprise.home}/lib/classes/" {
	permission java.security.AllPermission;
};

grant codeBase "file:${jms.home}/classes/" {
	permission java.security.AllPermission;
};

// Drivers and other system classes should be stored in this 
// code base.
grant codeBase "file:${com.sun.enterprise.home}/lib/system/-" {
	permission java.security.AllPermission;
};

grant codeBase "file:${com.sun.enterprise.home}/lib/j2ee.jar" {
	permission java.security.AllPermission;
};

// default permissions granted to all domains

grant { 
	permission java.lang.RuntimePermission "loadLibrary.*";
	permission java.lang.RuntimePermission "accessClassInPackage.*";
	permission java.lang.RuntimePermission "exitVM";
	permission java.lang.RuntimePermission "queuePrintJob";
	permission java.lang.RuntimePermission "modifyThreadGroup";

	permission java.awt.AWTPermission "accessClipboard";
	permission java.awt.AWTPermission "accessEventQueue";
	permission java.awt.AWTPermission "showWindowWithoutWarningBanner";

	permission java.io.FilePermission "<<ALL FILES>>", "read,write";

	permission java.net.SocketPermission "*", "connect,accept,resolve";
	permission java.net.SocketPermission "localhost:1024-", "accept,listen";

	// "standard" properies that can be read by anyone
	permission java.util.PropertyPermission "*", "read";

	// setting the JSSE provider for lazy authentication of app. clients.
	// Please do not change it.
	permission java.security.SecurityPermission "putProviderProperty.SunJSSE";
	permission java.security.SecurityPermission "insertProvider.SunJSSE";
};
